[submodule "wiki"]
	path = wiki
	url = https://github.com/CityScope/CS_Cooper-Hewitt.wiki.git
[submodule "graphic_studies"]
	path = graphic_studies
	url = https://github.com/yasushisakai/graphic_studies
[submodule "3d_projection_mapping_unity"]
	path = 3d_projection_mapping_unity
	url = https://github.com/popabczhang/3d_projection_mapping_unity
[submodule "gama_simulation"]
	path = gama_simulation
	url = https://github.com/agrignard/URBAM/
[submodule "CS_activityBased"]
	path = CS_activityBased
	url = https://github.com/CityScope/CS_activityBased
	branch = master
[submodule "network_checker"]
	path = network_checker
	url = https://github.com/yasushisakai/network_checker
