[submodule "wiki"]
	path = wiki
	url = https://github.com/CityScope/CS_Cooper-Hewitt.wiki.git
[submodule "nyMobility"]
	path = nyMobility
	url = https://github.com/doorleyr/nyMobility
[submodule "Scanner"]
	path = Scanner
	url = https://github.com/RELNO/CityScope_Scanner_Python
[submodule "graphic_studies"]
	path = graphic_studies
	url = https://github.com/yasushisakai/graphic_studies
[submodule "3d_projection_mapping_unity"]
	path = 3d_projection_mapping_unity
	url = https://github.com/popabczhang/3d_projection_mapping_unity
[submodule "gama_simulation"]
	path = gama_simulation
	url = https://github.com/agrignard/URBAM/
